* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    background-color: #3399CC;
    min-height: 100%;
    color: #FFF;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.forecast-wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 900px;
}

.forecast-header {
    padding: 60px 0 20px;
}

h1 {
    font-weight: 500;
    font-size: 26px;
    text-transform: capitalize;
}

.forecast-footer {
    margin: 20px 0;
    font-size: 17px;
}

.data-list {
    list-style-type: none;
    font-size: 0;
    /* border: 1px solid #FFF; */
    background-color: #FFF;
}

.data-list:hover > li {
    opacity: .7;
}

.data-list li {
    display: inline-block;
    font-size: 20px;
    background-color: rgb(164, 204, 238);
    border: 1px solid rgb(255, 255, 255); 
    text-align: center;
    padding: 20px 0;
}

.data-list > li:hover {
    opacity: 1;
}

.data-list li.data-first,
.data-list li.data-second,
.data-list li.data-third,
.data-list li.data-forth,
.data-list li.data-fifth {
    width: 20%;
}

@media screen and (max-width: 600px) {

    .data-list li[class*='data-'] {
        width: 100%;
    }
}
